<div ng-controller="RechazarTramiteController">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">Rechazar trámite: {{ tramite.tipo.nombre }}</h4>
		</div>
		<div class="modal-body">
			<form name="bajaForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Motivo de baja</label>

                                    <select id="nacionalidad" 
                                            name="motivo" 
                                            ng-model="motivo" 
                                            class="form-control" 
                                            ng-options="tipoBaja as tipoBaja.nombre for tipoBaja in tiposBaja track by tipoBaja.id"
                                            required>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Fecha de baja:</label>
                                        <br>
                                        <div class="dropdown pull-left">
                                                <input id="fechaBaja" 
                                                       name="fechaBaja"
                                                        type="date" 
                                                        class="form-control" 
                                                        ng-model="fechaBaja"
                                                        ng-required="true" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
				
				<button type="button" data-dismiss="modal" class="btn btn-default" ng-disabled="bajaForm.$invalid" ng-click="close(motivo, fechaBaja);">
					Aceptar
				</button>
			</form>
		</div>
	</div>
</div>